@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  font-family: 'Lato', sans-serif;

  #root {
    > header {
      background: #111;
      color: white;
      font-size: 24px;
      padding: 20px 0;

      display: flex;
      justify-content: center;
    }
    > main {
      background: #fff;
      padding: 0 30px 30px;

      .page-title {
        font-size: 40px;
        padding: 50px 0;
        text-align: center;
      }
      .content {
        display: flex;

        section {
          flex: 1;
        }
        aside {
          min-width: 250px;
        }
      }
    }
  }
}

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      border-bottom: 3px solid #eee;
      th {
        text-align: left;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #666;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 3px solid #eee;

      &:last-child {
        border: 0;
      }

      td {
        padding: 30px 0;
      }
    }
  }
}

.product {
  display: flex;
  align-items: center;

  img {
    border-radius: 6px;
  }

  .info {
    margin-left: 20px;
    .name {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .category {
      color: #666;
    }
  }
}
.qty {
  background: #eee;
  display: inline-flex;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;

  span {
    margin: 0 10px;
  }

  button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;

    &:hover {
      background: #ddd;
    }
  }
}
.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  &:hover {
    background: #ddd;
  }
}

aside {
  margin-left: 30px;
  .box {
    margin-bottom: 15px;
    border: 1px solid #ccc;

    background: #eee;
    color: #222;

    header {
      padding: 15px 20px;
      font-size: 18px;
      border-bottom: 1px solid #ccc;
    }
    .info {
      padding: 20px;
      font-size: 16px;

      > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #555;

        &:last-child {
          margin: 0;
        }
      }
      button {
        color: #28a745;
        background: transparent;
        border: 0;
        display: flex;
        align-items: center;
        font-size: 16px;

        i {
        }
      }
    }
    footer {
      padding: 15px 20px;
      background: #ddd;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
    }
  }

  > button {
    border: 0;
    padding: 15px 0;
    color: white;
    background: #28a745;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;

    &:hover {
      background: #3bc55b;
    }
  }
}
